/*----------------------- General Styles --------------------------*/
/* fix all headers on html and css */
/* add h1 to the nav section*/
/* make h3 span */

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    color: #292929;
    background: white;
    padding: 0;
    margin: 0;
  }

header,
footer,
.background-green {
    background-color: rgba(107,122,64, .47 );

}

/*----------------------- Mobile Styles --------------------------*/
main {
    display: flex;
    flex-flow: row wrap;
    min-width: 320px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


p {
    margin: 15px 20px;
    font-size: 12px;
}

button {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    background-color: #6B7A40;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 7px;
    letter-spacing: 1.5px;   
}
h5 {
    margin: 15px 20px;
}

/***** Header *****/
.landing {
    width: 100%;
    min-height: 350px;
}
header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hamburger {
    background-color: transparent;
    color: #292929 ;
    font-size: 30px;
    margin-right: 20px;
    cursor:pointer;
    width: 20%;
}

.nav-ul {
    display: none;
    width: 100%;
}

.nav-ul.show {
    display:flex;
}

nav ul li {
    display:inline;
}

nav ul li a {
    font-size: 15px;
    padding-left: 10px;
    color: #6B7A40;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

a:hover {
    color: #8F2D56;
  }

h1{
    font-size: 35px;
    color: #254E6B;
    font-family: 'Sigmar One', cursive;
    margin-left: 10px;
    margin-top: 0;
    width: 75%;
}

h2 {
    font-size: 35px;
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px rgb(56, 56, 56);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 35px;
}

  h3 {
    font-size: 20px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:#8F2D56;
    text-shadow: 1px 1px rgb(56, 56, 56);
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
.tagline {
    padding-top: 25px;
    width: 100%;
}

/*----- About Home Page -------*/
.about {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;

}
.skills-section-hp {
    width: 100%;
}

h4 {
font-size: 25px;
text-align: center;
font-family: 'Red Hat Display', sans-serif;
color: #254E6B;
text-transform: uppercase;
width: 100%;
}

.profile-pic {
display: inline-block;
width: 45%;
}
.about p {
    width: 45%;
    margin: 20px;
}
.resume-button {
    margin: 10px;
    width: 20%;
    margin-left: 390px;

}
span {
    color: #8F2D56;
    padding-left: 150px ;}

.skills-section-hp ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 0;
}
.skills {
    display: block;
    width: 40%;
    font-size: 14px;
    color: #8F2D56;
    line-height: 20px;
    font-weight: 700;
}



/*----- Projects Home Page -------*/

.projects {
    width: 100%;
    background-color: rgba(115, 115, 115, .47);
    padding: 10px;
}

.projects h4 {
    color: #292929;
    margin-top: 10px;
}
/*----- Footer-------*/
footer {
    width: 100%;

}
footer p {
    text-align: center;
  }
footer a {
    text-decoration: none;
    color: #8F2D56;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 10px;
}
.footer-nav {
    text-align: center;
}
.copyright {
    font-size: 12px;
}

/*----------------------- About Me Page Styles --------------------------*/
.bio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.bio h4 {
    width: 100%;
}
.bio-pic {
    width: 50%;

}
.bio p {
    width: 100%;
    font-size: 16px;
    
}

/*----------------------- Projects Page Styles --------------------------*/

.project-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project-page h4 {
    width: 100%;
}
/*----------------------- Contect Page Styles --------------------------*/
.contact {
    background-color: rgba(115, 115, 115, .47);
    width: 100%;
}





/*----------------------- Desktop Styles --------------------------*/
@media only screen and (min-width:1024px) {

    main {
        min-width: 1024px;
    }
    

/*-----Desktop Header-------*/
    .landing {
        height: 640px;
    }
    header {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    h1 {
        font-size: 50px;
        width: 45%;
        padding-left: 0;
        margin-left: 20px;
    }

    .hamburger {
        display: none;
    }
    nav {
        width: 50%;
        height: 65px;
        display: flex;
        justify-content: space-around;
    }

    .nav-ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    nav ul li a {
        font-size: 18px;
    }
    .tagline {
        width: 100%;
        padding-top: 0;
    }
    
    h2 {
        font-size: 85px;
        line-height: 73px;
        margin-top: 0;
    }
    h3 {
        font-size: 40px;

    }
    button {
        font-size: 18px;
    }
    

    h4 {
    font-size: 45px;
    }
    
    .profile-pic {
    display: inline-block;
    width: 35%;
    }
    .about p {
        width: 50%;
        margin: 20px;
        font-size: 20px;
        padding: 0 30px 0 30px;
    }
    .resume-button {
        margin: 10px;
    }

    .skills-section-hp ul{
     justify-content: space-evenly;
     padding: 20px;
    
    }

    .skills {
        width: 30%;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }
    
    footer {
        padding: 20px;
    }

    .footer-nav {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: 0 auto;
    }
    footer a {
        font-size: 16px;
        justify-content: space-between;    }
    .copyright {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 0;
    }
}